@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    background-color: lightgray;
}

.CadePic{
    width: 250px;
    height: 250px;
    padding-right: 50px;
    padding-top: 30px;
    float: right;
    border-radius: 50%;
}

.aboutMe{
    padding-top: 30px;
}

.title{
    font-family: 'Righteous', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.titleMe{
    font-family: 'Righteous', cursive;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 3em;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    display:flex;
    padding-left: 20px;
    padding-right: 10px;
    background-color: #333;
}

.footer a{
    color: white;
}

footer a:hover{
    color: red;
}

.resume{
    text-decoration:none;
    padding-right: 20px;
}

.email{
    text-decoration:none;
    align-items: center;
}

.line1, .line2{
    display: flex;
    align-itmes: center;
    margin-bottom:200px;
    justify-content: space-around;
}

.projects img{
    width: 200px;
    height: 200px;
}

.projects a:hover{
    background-color: black;
}
